/obj
/jos.in
/jos.log
/jos.out
/jos.out.*
/jos.cmd
/.gdbinit
/wget.log
/qemu.pcap
/qemu.pcap.*
/qemu.out
/qemu.log
/lab?-handin.tar.gz
/lab?/
/sol?/
/myapi.key
/conf/
/out/

# Ignore grading scripts in master branch
/*.pyc
/grade-lab?
/tools/
